@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
  color: rgba(228, 223, 218, 1);
  text-decoration: none;
}

.b3content{
  color:  rgba(228, 223, 218, 1);
  width: 800px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: visible;
  background-color: #39393aff;
}

button {
  border: none;
  color: black;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #f2c14e;
  border-radius: 0.5em;
  transition-duration: 0.4s;
}

button:hover {
  color: white;
  background-color: #f06c9b;
}

#buttons-area {
  max-width: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 20px;
}

dt {
  font-weight: bold;
}

#full-db{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: white;
}

#get-db{
  padding: 15px 32px;
}

.header, .footer{
  background-color: #39393aff;
  color: rgba(228, 223, 218, 1);
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header{
  align-content: flex-start;
}

ins {
  text-decoration: none;
}

.left-links{
  font-weight: bold;
  font-size: larger;
}

.quotecontent {
  background-color:#1b998b;
  display: flex;
  justify-content: center;
}

.results-info-row{
  display: flex;
  align-content: flex-start;
}

table {
  border-collapse: collapse;
}

.tests-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: white;
}

th, td {
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px solid #39393aff;
  border-left-style: none;
  padding: 15px;
}

tr:hover {
  background-color: #f06c9a38;
}

ul{
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
